/*dark mode thing*/
  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: #ccc;
    }
  }
body {
  background-color:#003366
  ;
  color: white;
  font-family: 'Inria Serif', serif;
  font-size: 15px
}
