body {
  background-color: #323030
  ;
  color: white;
  font-family: 'Inria Serif', serif;
  font-size: 17px
}
.links {
background-color: #413a3a;
width: 250px;
  border: 10px solid #383232;
  padding: 30px;
  margin: 5px;
}